<div class="vertical-center centered full-width">
    <div class="row btn-group-lg">
        <div class="btn btn-default">
            Start game
        </div>
    </div>
    <div class="row h1">
        <div class="btn btn-default">
            Create deck
        </div>
    </div>
</div>